      .top {
        width: 100%;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
            z-index: 100;
      }
      
      .logo {
        width: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
      
      p {
        font-family: Verdana, Geneva, sans-serif;
        color: lightgray;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -120%);
      }
      
      p:hover {
        color: white;
      }
      
      div {
        position: absolute;
        top: 0;
        height: 100%;
        width: 125px;
      }
      
      #home {
        position: absolute;
        right: 475px;
        white-space: nowrap;
      }
      
      #projects {
        position: absolute;
        right: 325px;
        white-space: nowrap;
      }
      
      #about {
        position: absolute;
        right: 175px;
        white-space: nowrap;
      }
      
      #contact {
        position: absolute;
        right: 25px;
        white-space: nowrap;
      }
